#content {
    max-width: 2500px;
    margin: 0 auto;
}
header{
    background-color: #F7B267;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 150px auto;

}
.name {
    color: white;
    font-family: "Noto Sans Display", Helvetica, sans-serif;
    font-size: 190px ;
    background-color: #F7B267;
    grid-column: 2/5;
    margin: 10px 10px 10px 10px;
    float: right;
}
#logo_link{
    grid-column: 1/2;
    grid-row: 1/3;
    color: aqua;
 }
 .search-box input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    height: 50px;
    width: 1210px;
    background: #f1f1f1;
    border-radius: 30px;
    background-color: white;
  }
.search-container {
    grid-column: 3/5;
    grid-row: 3;
    float: right;
}
.profile-links{
    font-size: 30px;

}
 a {
    text-align: center;
    color: #F25C54;
    text-decoration: none;
    padding: 35px;
}

.header-nav{
    grid-row: 4/5;
    grid-column: 1/6;
    color: black;
}
nav a:hover{
    background-color: #F25C54;
    color: #F7B267;
    border-radius: 100px;
}
nav {
    display: flex;
    justify-content: space-around;
}
body{
    background-color: #B4BDAE;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#background {
    background-color: white;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
    color: #f1f1f1;
}
footer{
    background-color: #F7B267;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer h3 a:hover{
    text-decoration: underline;
}
  